<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.qy.scm.dao.IAccountDao">

    <resultMap type="cn.qy.scm.entity.Account" id="accountMapper">
        <id property="id" column="acc_id"/>
        <result property="loginName" column="acc_login"/>
        <result property="name" column="acc_name"/>
        <result property="password" column="acc_pass"/>
    </resultMap>

    <insert id="insert" parameterType="cn.qy.scm.entity.Account">
        insert into account(acc_id,acc_login,acc_name,acc_pass) values(#{id},#{loginName},#{name},#{password})
    </insert>

    <select id="selectById" parameterType="cn.qy.scm.entity.Account" resultMap="accountMapper">
        SELECT * FROM account WHERE acc_id == #{id}
    </select>

    <select id="findAll" resultMap="accountMapper">
        SELECT * FROM account
    </select>

    <update id="updateById" parameterType="cn.qy.scm.entity.Account">
        update account set acc_login = #{loginName}, acc_name = #{name},acc_pass = #{password}  WHERE acc_id =#{id}
    </update>

    <delete id="deleteById" parameterType="cn.qy.scm.entity.Account">
        DELETE * FROM account WHERE acc_id =#{id}
    </delete>

    <delete id="deleteAll">
        DELETE * FROM account
    </delete>

    <select id="selectByNameAndPassword" parameterType="cn.qy.scm.entity.Account" resultMap="accountMapper">
        SELECT * FROM account WHERE acc_login = #{loginName} AND acc_pass = #{password}
    </select>
</mapper>