<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.qy.scm.dao.IDeptJDAY70Dao">

    <resultMap type="cn.qy.scm.entity.DeptJDAY70" id="deptMapper">
        <id property="id" column="dept_id"/>
        <result property="name" column="dept_namedept_name"/>
        <result property="phoneNum" column="dept_phoneNum"/>
    </resultMap>

    <insert id="insert" parameterType="cn.qy.scm.entity.DeptJDAY70">
        insert into deptJDAY70(dept_id,dept_namedept_name,dept_phoneNum) values(#{id},#{name},#{phoneNum})
    </insert>
</mapper>