<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.qy.scm.dao.IDeptJDAY70Dao">

    <resultMap type="cn.qy.scm.entity.DeptJDAY70" id="deptMapper">
        <id property="id" column="dept_id"/>
        <result property="name" column="dept_namedept_name"/>
        <result property="phoneNum" column="dept_phoneNum"/>
    </resultMap>

    <insert id="insert" parameterType="cn.qy.scm.entity.DeptJDAY70">
        insert into deptJDAY70(dept_id,dept_namedept_name,dept_phoneNum) values(#{id},#{name},#{phoneNum})
    </insert>

    <select id="selectById" parameterType="cn.qy.scm.entity.DeptJDAY70" resultMap="deptMapper">
        SELECT * FROM deptJDAY70 WHERE dept_id == #{id}
    </select>

    <select id="findAll" resultMap="deptMapper">
        SELECT * FROM deptJDAY70
    </select>

    <update id="updateById" parameterType="cn.qy.scm.entity.DeptJDAY70">
        update deptJDAY70 set dept_namedept_name = #{name}, dept_phoneNum = #{phoneNum} WHERE dept_id =#{id}
    </update>

    <delete id="deleteById" parameterType="cn.qy.scm.entity.DeptJDAY70">
        DELETE * FROM deptJDAY70 WHERE dept_id =#{id}
    </delete>

    <delete id="deleteAll">
        DELETE * FROM deptJDAY70
    </delete>
</mapper>