<component name="libraryTable">
  <library name="mybatis_spring">
    <CLASSES>
      <root url="file://D:/CS/JavaWeb/WebLibs/mybatis3.2/mybatis_spring" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://D:/CS/JavaWeb/WebLibs/mybatis3.2/mybatis_spring" recursive="false" />
  </library>
</component>